.navbar-brand
{
	text-align: left;
	margin-top: 0;
	margin-bottom: 0;
}

#collapsable-nav ul
{
	background: #fff194;

}

.header
{
	text-align: center;
}


.single-content
{
	border-style: solid;
	border-color: #545454;
	height: 700px;
	margin: 10px 0;
	padding: 5px;
}

.title
{
	text-align: center;
}